logs
project/project
project/target
target
tmp
.history
dist
projectFilesBackup
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
conf/evolutions/*
conf/application.conf
exports/*
*.log
