@(title: String)(user: User)(firstname: String)(lastname: String)(error: String)(errorType: String, amountOfQuestions: Integer, amountOfUnansweredQuestions: Integer)(keywordUsage: java.util.Map[Keyword, Integer])(trendingAnswers: java.util.Map[Answer, Integer])
@import java.math.BigInteger; var index=0; var answerIndex=0

@now= @{
  import org.joda.time.DateTime;
  new DateTime()
}

@style = {<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>}

@script = {
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
}

@main(title)(style){

    @if(user == null) {
        <h1>Analyse</h1>
    }else{
        <h1>Analyse - @user.first_name @user.last_name</h1>
    }
    <div class="btn-group btn-group-justified">
        @if(user == null) {
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Vandaag</a>
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.withDayOfWeek(1).dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.withDayOfWeek(7).dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze week</a>
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.monthOfYear().roundFloorCopy().getMillis()}&to=@{now.monthOfYear().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze maand</a>
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.yearOfEra().roundFloorCopy().getMillis()}&to=@{now.yearOfEra().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Dit jaar</a>
        }else{
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Vandaag</a>
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.withDayOfWeek(1).dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.withDayOfWeek(7).dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze week</a>
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.monthOfYear().roundFloorCopy().getMillis()}&to=@{now.monthOfYear().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze maand</a>
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.yearOfEra().roundFloorCopy().getMillis()}&to=@{now.yearOfEra().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Dit jaar</a>

        }
    </div>

    <div class="trending">
        <h3>Trending antwoorden</h3>
        <table class="table table-striped">
            <tr>
                <th>Nr</th>
                <th>Antwoord</th>
                <th>Aantal hits</th>
            </tr>
            @for((key, value) <- trendingAnswers) {
                <tr>
                    @{answerIndex+=1}
                    <td>@answerIndex</td>
                    <td>@key.answer</td>
                    <td>@value</td>
                </tr>
            }
        </table>
    </div>

    <div class="trending">
        <h3>Trending keywords</h3>
        <table class="table table-striped">
            <tr>
                <th>Nr</th>
                <th>Keyword</th>
                <th>Aantal hits</th>
            </tr>
            @for((key, value) <- keywordUsage) {
                <tr>
                    @{index+=1}
                    <td>@index</td>
                    <td>@key.keyword</td>
                    <td>@value</td>
                </tr>
            }
        </table>
    </div>

    <div class="trending">
        <h3>Vraag - Antwoord ratio</h3>
        <table class="table table-striped">
            <tr>
                <th>Naam</th>
                <th>Aantal</th>
                <th>Ratio</th>
            </tr>
            <tr>
                <td>Vragen</td>
                <td>@amountOfQuestions</td>
                <td></td>
            </tr>
            <tr>
                <td>Onbantwoorde vragen</td>
                <td>@amountOfUnansweredQuestions</td>
                <td></td>
            </tr>
            <tr>
                <td>Verschil</td>
                <td>@(amountOfQuestions - amountOfUnansweredQuestions)</td>
                @if(amountOfQuestions == 0) {
                  <td>0</td>
                } else {
                  <td>@AnalysisController.calculateAnsweredPercentage(amountOfQuestions, amountOfUnansweredQuestions) %</td>
                }
            </tr>
        </table>
    </div>
}(script)(firstname)(lastname)(error)(errorType)
