@(title: String)(user: User)(firstname: String)(lastname: String)(error: String)(errorType: String, amountOfQuestions: Integer, amountOfUnansweredQuestions: Integer)(keywordUsage: java.util.Map[Keyword, Integer])(trendingAnswers: java.util.Map[Answer, Integer])
@import java.math.BigInteger; var index=0; var answerIndex=0

@now= @{
  import org.joda.time.DateTime;
  new DateTime()
}

@style = {<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>}

@script = {
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    function calculateGridLines(high, low) {
        // Take the Max/Min of all data values in all graphs
        var totalMax = high;
        var totalMin = low;

        // Figure out the largest number (positive or negative)
        var biggestNumber = Math.max(Math.abs(totalMax),Math.abs(totalMin));

        // Round to an exponent of 10 appropriate for the biggest number
        var roundingExp = Math.floor(Math.log(biggestNumber) / Math.LN10);
        var roundingDec = Math.pow(10,roundingExp);

        // Round your max and min to the nearest exponent of 10
        var newMax = Math.ceil(totalMax/roundingDec)*roundingDec;
        var newMin = Math.floor(totalMin/roundingDec)*roundingDec;

        // Determine the range of your values
        var range = newMax - newMin;

        // Calculate the best factor for number of gridlines (2-5 gridlines)
        // If the range of numbers divided by 2 or 5 is a whole number, use it
        for (var i = 2; i <= 5; ++i) {
            if ( Math.round(range/i) == range/i) {
                var gridlines = i
            }
        }
        return gridlines;
    }

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart(arrayData, lines) {
        var data = google.visualization.arrayToDataTable(arrayData);

        var options = {
            title: 'Keyword verloop',
            width: 800,
            chartArea: {width: '70%'},
            pointSize: 5,
            vAxis: {minValue:1, maxValue:5, format:'#', gridLines:lines},
            backgroundColor: { fill:'transparent' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }

    $(document ).ready( function(){

        $('.keyword_btn' ).click(function(){
            var keyword = this.id;
            $('#chart_wrapper' ).show(200);

            var data;

            @if(user == null) {
                data = {'keyword': keyword};
            }else{
                data = {'keyword': keyword, 'user': @user.id};
            }

            $.ajax({
                type :  "POST",
                dataType: 'json',
                data: data,
                url  :  "@routes.AnalysisController.keywordUsage()",
                success: function(data){
                    console.log(data);
                    var dataArray = new Array();
                    var nameArray = new Array();
                    nameArray[0] = "time";
                    nameArray[1] = keyword;

                    dataArray[0] = nameArray;

                    var lowest = 999999;
                    var highest = 0;

                    for(i = 0; i < data.length; i++) {
                        var usageIndex = 0;
                        var usageArray = new Array();
                        var entry = data[i];
                        console.log(entry);
                        usageArray[usageIndex] = new Date(entry.time);
                        usageArray[usageIndex + 1] = entry.usage;

                        var usage = entry.usage;

                        if(usage < lowest) {
                            lowest = entry.usage;
                        }

                        if(usage > highest) {
                            highest = entry.usage;
                        }

                        dataArray[i + 1] = usageArray;
                    }

                    var gridLines = calculateGridLines(highest, lowest);

                    console.log(dataArray);
                    drawChart(dataArray, gridLines);
                }
            });

        });
    });
</script>
}

@main(title)(style){

    @if(user == null) {
        <h1>Analyse</h1>
    }else{
        <h1>Analyse - @user.first_name @user.last_name</h1>
    }
    <div class="btn-group btn-group-justified">
        @if(user == null) {
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Vandaag</a>
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.withDayOfWeek(1).dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.withDayOfWeek(7).dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze week</a>
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.monthOfYear().roundFloorCopy().getMillis()}&to=@{now.monthOfYear().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze maand</a>
            <a href="@routes.AnalysisController.analysisPage()?from=@{now.yearOfEra().roundFloorCopy().getMillis()}&to=@{now.yearOfEra().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Dit jaar</a>
        }else{
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Vandaag</a>
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.withDayOfWeek(1).dayOfWeek().roundFloorCopy().getMillis()}&to=@{now.withDayOfWeek(7).dayOfWeek().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze week</a>
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.monthOfYear().roundFloorCopy().getMillis()}&to=@{now.monthOfYear().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Deze maand</a>
            <a href="@routes.AnalysisController.analysisPageForUser(user.id)?from=@{now.yearOfEra().roundFloorCopy().getMillis()}&to=@{now.yearOfEra().roundCeilingCopy().getMillis()}" class="btn btn-primary btn-lg">Dit jaar</a>

        }
    </div>

    <div class="trending">
        <h3>Trending antwoorden</h3>
        <table class="table table-striped">
            <tr>
                <th>Nr</th>
                <th>Antwoord</th>
                <th>Aantal hits</th>
            </tr>
            @for((key, value) <- trendingAnswers) {
                <tr>
                    @{answerIndex+=1}
                    <td>@answerIndex</td>
                    <td>@key.answer</td>
                    <td>@value</td>
                </tr>
            }
        </table>
    </div>

    <br/>

    <div class="trending">
        <h3>Trending keywords</h3>
        <div style="display:none;" id="chart_wrapper" class="row">
            <div class="col-md-12">
                <div class="well">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Nr</th>
                <th>Keyword</th>
                <th>Aantal hits</th>
            </tr>
            @for((key, value) <- keywordUsage) {
                <tr>
                    @{index+=1}
                    <td>@index</td>
                    <td>
                        <button class="btn btn-xs keyword_btn" id="@key.keyword">
                            @key.keyword
                        </button>
                    </td>

                    <td>@value</td>
                </tr>
            }
        </table>
    </div>

    <br/>

    <div class="trending">
        <h3>Vraag - Antwoord ratio</h3>
        <table class="table table-striped">
            <tr>
                <th>Naam</th>
                <th>Aantal</th>
                <th>Ratio</th>
            </tr>
            <tr>
                <td>Vragen</td>
                <td>@amountOfQuestions</td>
                <td></td>
            </tr>
            <tr>
                <td>Onbantwoorde vragen</td>
                <td>@amountOfUnansweredQuestions</td>
                <td></td>
            </tr>
            <tr>
                <td>Verschil</td>
                <td>@(amountOfQuestions - amountOfUnansweredQuestions)</td>
                @if(amountOfQuestions == 0) {
                  <td>0</td>
                } else {
                  <td>@AnalysisController.calculateAnsweredPercentage(amountOfQuestions, amountOfUnansweredQuestions) %</td>
                }
            </tr>
        </table>
    </div>

    <br/>
}(script)(firstname)(lastname)(error)(errorType)
