@(title: String)(message: String)(firstname: String)(lastname: String)(error: String)(errorType: String)

@style = {<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">}

@script = {
    <script type="text/javascript">
        var data = [{
            value: 300,
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: "Red"
        }, {
            value: 50,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Green"
        }, {
            value: 100,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Yellow"
        }];
        ctx1 = $("#myChart1").get(0).getContext("2d");
        ctx2 = $("#myChart2").get(0).getContext("2d");
        var myDoughnutChart1 = new Chart(ctx1).Doughnut(data);
        var myDoughnutChart2 = new Chart(ctx2).Doughnut(data);
    </script>
}

@main(title)(style){
    <header>
        <h1>Virtual coach</h1>
        <div class="btn-group">
            <a href="" class="btn btn-primary btn-lg">kno</a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="myChart1" style="width: 50%; float: left;"></canvas>
                <canvas id="myChart2" style="width: 50%; float: left;"></canvas>
            </div>
        </div>


    </header>
}(script)(firstname)(lastname)(error)(errorType)

