@(title: String)(message: String)(firstname: String)(lastname: String)(error: String)(errorType: String)

@style = {<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">}

@script = {<script rel="text/javascript"></script>}

@main(title)(style){
    <header>
        <h1>Virtual coach</h1>
        <div class="btn-group">
            <a href="" class="btn btn-primary btn-lg">Button</a>
        </div>
    </header>
}(script)(firstname)(lastname)(error)(errorType)

