@(answers: java.util.List[Answer])(questions: java.util.List[Question]))

@style = {<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>}

@script = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
    $.fn.editable.defaults.mode = 'inline';
    $('#answers a').editable(
    {
        type: 'text',
        title: 'Bewerk de vraag'
    });
    $('#questions a').editable(
    {
    type: 'text',
    title: 'Bewerk de vraag'
    });



    </script>
}

@main("Virtual Therapist")(style){

        <form role="form" method="POST" action="@routes.QuestionController.searchQuestion()" >
            <div class="form-group">
                <label for="inputQuestion">Vraag</label>
                <input type="text" class="form-control" name="question" placeholder="Vraag">
            </div>
            <div class="form-group">
                <label for="inputAnswer">Antwoord</label>
                <input type="text" class="form-control" name="answer" placeholder="Antwoord">
            </div>
            <button type="submit" class="btn btn-warning">Search</button>
        </form>
        <br>


        <form role="form" method="POST" action="@routes.QuestionController.saveQuestion()" >
            <div class="form-group">
                <label for="inputQuestion">Vraag</label>
                <input type="text" class="form-control" name="question" placeholder="Vraag">
            </div>
            <div class="form-group">
                <label for="inputAnswer">Antwoord</label>
                <input type="text" class="form-control" name="answer" placeholder="Antwoord">
            </div>
            <button type="submit" class="btn btn-warning">Opslaan</button>
        </form>

        <br>
    @if( answers != null ) {
        <h5>Antwoord + vragen:</h5>
        <table id="answers" class="table table-striped">
            <tr>
                <th>Vraag:</th>
                <th>Antwoord:</th>
                <th>Verwijderen</th>
            </tr>
            @for(answer <- answers) {
                <tr>
                    <td><a id="edit_question" href="#" data-url="vragen/update" data-pk="@answer.question.id">@answer.question.question</a></td>
                    <td><a id="edit_answer" href="#" data-url="antwoord/update" data-pk="@answer.id">@answer.answer</a></td>
                    <td><a href="@routes.QuestionController.deleteAnswer(answer.id)">Delete</a></td>
                </tr>
            }
        </table>
    }

    @if( questions != null ) {
        <h5>Vragen:</h5>
        <table id="questions" class="table table-striped">
            <tr>
                <th>Vraag:</th>
                <th>Verwijderen</th>
            </tr>
            @for(question <- questions) {
                <tr>
                    <td><a id="edit_question" href="#" data-url="vragen/update" data-pk="@question.id">@question.question</a></td>
                    <td><a href="@routes.QuestionController.deleteQuestion(question.id)">Delete</a></td>
                </tr>
            }
        </table>
    }

}(script)