@(questions: java.util.List[Question])(answers: java.util.List[Answer])(firstname: String)(lastname: String)(error: String)(errorType: String)

@style = {<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>}

@script = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="@routes.Assets.at("/public/javascripts", "questions.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $.fn.extend({
            toggleText:function(a,b){
                if(this.html()==a){this.html(b)}
                else{this.html(a)}
            }
        });
        $(document ).ready( function(){
            $('#questionButton' ).click(function(){
                $('#questionForm' ).slideToggle(200);
                $('#questionButton').toggleText(
                    '<span class="glyphicon glyphicon-remove"></span> Annuleren',
                    '<span class="glyphicon glyphicon-plus"></span> Toevoegen'
                );
            });
            $('#search' ).click( function() {
                where = [];
                search = $('#search-text' ).val();
                if($('#question' ).hasClass("active"))
                {
                    where.push('question');
                }
                if($('#answer' ).hasClass("active"))
                {
                    where.push('answer');
                }
                $.ajax (
                {
                    url : "@routes.QuestionController.searchQuestion()",
                    method : "POST",
                    data: {
                        "search" : search,
                        "where" : where
                    }
                } ).done ( function ( data ) {
                    console.log(data);
                    alert('you have searched: ' + search);
                } ).fail ( function ( ) {
//                    alert('you have failded: ' + search);
                } )
            })


        })
    </script>
}

@main("Virtual Therapist")(style){

    <header>

        <h1>Vragen</h1>
        <div class="btn-group">
            <button class="btn btn-primary btn-lg" id="questionButton">
                <span class="glyphicon glyphicon-plus"></span>
                Toevoegen
            </button>
        </div>
    </header>
    <div class="row" style="display: none;" id="questionForm">
        <div class="col-md-12">
            <div class="well">
                <form role="form" method="POST" action="@routes.QuestionController.saveQuestion()" >
                    <div class="form-group">
                        <label for="inputQuestion">Vraag</label>
                        <textarea type="text" class="form-control" name="question" placeholder="Vraag"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputAnswer">Antwoord</label>
                        <textarea class="form-control" name="answer" placeholder="Antwoord"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Opslaan</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="btn-group pull-left" data-toggle="buttons">
                <label class="btn btn-default active"  id="question">
                    <input type="checkbox">Vraag
                </label>
                <label class="btn btn-default" id="answer">
                    <input type="checkbox">Antwoord
                </label>
            </div>
        </div>
        <div class="col-md-7">
            <div class="input-group">
                <input type="text" class="form-control" id="search-text">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-warning" id="search">
                        <span class="glyphicon glyphicon-search"></span>
                        Zoeken
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br>
    @if( questions != null ) {
        <table id="answers" class="table table-striped">
            <tr>
                <th>Vraag:</th>
                <th>Antwoord:</th>
                <th>Verwijderen</th>
            </tr>
            @for(question <- questions) {
                <tr>
                    <td><a class="update-delete-question" href="#" data-url="@routes.QuestionController.updateQuestion()" data-pk="@question.id">@question.question</a></td>
                    <td><a class="update-delete-question" href="#" data-url="@routes.QuestionController.updateAnswer()" data-pk="@question.answer.id">@question.answer.answer</a></td>
                    <td><a class="btn btn-danger btn-xs" shref="@routes.QuestionController.deleteQuestion(question.id)"><span class="glyphicon glyphicon-remove"></span> Verwijder</a></td>
                </tr>
            }
        </table>
    }

    @if( answers != null ) {
        <h5>Antwoord:</h5>
        <table id="questions" class="table table-striped">
            <tr>
                <th>Antwoord:</th>
                <th>Verwijderen</th>
            </tr>
            @for(answer <- answers) {
                <tr>
                    <td><a class="update-delete-question" href="#" data-url="@routes.QuestionController.updateAnswer()" data-pk="@answer.id">@answer.answer</a></td>
                    <td><a class="btn btn-danger" href="@routes.QuestionController.deleteAnswer(answer.id)">Delete</a></td>
                </tr>
            }
        </table>
    }


}(script)(firstname)(lastname)(error)(errorType)
