@(answers: java.util.List[Answer])

@style = {<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>}

@script = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
    $.fn.editable.defaults.mode = 'inline';
    $('#questions a').editable(
    {
        type: 'text',
        title: 'Bewerk de vraag'
    });


    </script>
}

@main("Virtual Therapist")(style){

        <form role="form" method="POST" action="@routes.QuestionController.saveQuestion()" >
            <div class="form-group">
                <label for="inputQuestion">Vraag</label>
                <input type="text" class="form-control" name="question" placeholder="Vraag">
            </div>
            <div class="form-group">
                <label for="inputAnswer">Antwoord</label>
                <input type="text" class="form-control" name="answer" placeholder="Antwoord">
            </div>
            <button type="submit" class="btn btn-warning">Opslaan</button>
        </form>

        <br>
        <table id="questions" class="table table-striped">
            <tr>
                <th>Vraag:</th>
                <th>Antwoord:</th>
                <th>Verwijderen</th>
            </tr>
            @for(answer <- answers){
                <tr>
                    <td><a id="edit_question" href="#" data-url="vragen/update" data-pk="@answer.question.id">@answer.question.question</a></td>
                    <td><a id="edit_answer" href="#" data-url="antwoord/update" data-pk="@answer.id">@answer.answer</a></td>
                    <td><a href="@routes.QuestionController.deleteQuestion(answer.id)">Delete</a></td>
                </tr>
            }
        </table>

}(script)