@(title: String)(user: User)(firstname: String)(lastname: String)(error: String)(errorType: String)

@style = {
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "chat.css")">
}

@script = {
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('table tbody tr').click(function() {
            window.document.location = $(this).data('url');
        });
    });
</script>
}

@main(title)(style){

    @if(user == null) {
        <h1>Gespreksgeschiedenis</h1>
    }else{
        <h1>Gespreksgeschiedenis - @user.first_name @user.last_name</h1>
    }

    <div class="row">
        <table class="table table-striped chats">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Datum</th>
                    <th>Aanleiding</th>
                    <th>Beoordeling</th>
                </tr>
            </thead>

            <tbody>
                <tr class="clickable" data-url="@routes.ChatController.showChat(1)">
                    <td>1</td>
                    <td>2014-10-03</td>
                    <td>Was bij de bakker</td>
                    <td>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </td>
                </tr>

                <tr data-url="@routes.ChatController.showChat(2)" style="cursor: pointer">
                    <td>2</td>
                    <td>2014-09-22</td>
                    <td>Ik moest avondeten kopen.</td>
                    <td>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </td>
                </tr>

                <tr data-url="@routes.ChatController.showChat(2)" style="cursor: pointer">
                    <td>3</td>
                    <td>2014-07-22</td>
                    <td>Ik had veel te veel gegeten tijdens BBQen</td>
                    <td>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </td>
                </tr>
            </body>
        </table>
    </div>
}(script)(firstname)(lastname)(error)(errorType)
