@(users: java.util.List[User])

    @style = {<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">}

    @script = {<script rel="text/javascript" src="@routes.Assets.at("javascripts/user.js")"></script>}


@main("Virtual Therapist")(style){
    <header>
        <h1>Gebruikers</h1>
    </header>

    <table class="table table-striped">
        <tr>
            <th>Naam:</th>
            <th>Email:</th>
            <th>Rol:</th>
        </tr>
        @for(user <- users){
            <tr>
                <td><a href="@routes.UserController.userPage(user.id)">@user.first_name @user.last_name</a></td>
                <td>@user.email</td>
                @if(user.role != null) {
                    <td>@user.role.name</td>
                }else{
                    <td></td>
                }
            </tr>
        }
        </table>

}(script)