@(users: java.util.List[User])(firstname: String)(lastname: String)(error: String)(errorType: String)

    @style = {<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "main.css")">}

    @script = {<script rel="text/javascript" src="@routes.Assets.at("/public/javascripts", "user.js")"></script>}


@main("Virtual Therapist")(style){
    <div class="row header">
        <h1>Gebruikers</h1>
        <div class="btn-group">
            <a href="@routes.LoginController.register()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-plus"></span>
                Toevoegen
            </a>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Naam:</th>
            <th>Email:</th>
            <th>Rol:</th>
            <th>Actie: </th>
        </tr>
        @for(user <- users){
            <tr>
                <td><a href="@routes.UserController.userPage(user.id)">@user.first_name @user.last_name</a></td>
                <td>@user.email</td>
                @if(user.role != null) {
                    <td>@user.role.name</td>
                }else{
                    <td></td>
                }
                <td><a href="@routes.UserController.deleteUser(user.id)">Verwijderen</a></td>
            </tr>
        }
        </table>

}(script)(firstname)(lastname)(error)(errorType)